.container {
  width: 80px;
  overflow: hidden;
  transition: 200ms;
}
.container-active {
  transition: 200ms ease;
  min-width: 180px;
}
.navbar {
  background-color: var(--white);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu_bars {
  margin: 0 2rem 0 2rem;
  font-size: 2rem;
  background: none;
}

.nav_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 8px 8px 8px 8px;
  height: 50px;
  margin-right: 1px;
}
.link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav_text:hover {
  background-color: white;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.nav-menu-items {
  width: 100%;
  padding-inline-start: 0px;
}
.navbar_toggle {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.icons {
  position: fixed;
  left: 20px;
  cursor: pointer;
}
.title {
  position: relative;
  left: 55px;
}
