.line-chart {
  border-bottom: 1px solid var(--white-100);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.total-amounts-container {
  padding: 10px;
}
.amount-box {
  padding: 10px;
}
.tittle {
  font-size: 14px;
  color: var(--white-300);
}

.amount-expense {
  color: var(--theme-red);
  font-size: 16px;
}
.amount-entry {
  color: var(--theme-blue);
  font-size: 16px;
}
