.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

.tabs-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
}
.tab-item {
  width: 20%;
  height: 100%;
}
.tabs {
  width: 100%;
  height: 100%;
  font-family: 'SF Mono Regular';
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  padding: 5px;
  color: var(--white-300);
  list-style-type: none;
  border-bottom: 1px solid darkgray;
  background-color: var(--white);
}
.tabs-active {
  transition: 500ms;
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid darkgrey;
  border-left: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  border-bottom: none;
  padding: 5px;
  color: var(--white-300);
  list-style-type: none;
  background-color: white;
  font-family: 'SF Mono Regular';
}
.tabs:hover {
  background-color: var(--silver-gray);
}
.tab-panel {
  width: 60%;
  padding: 1rem;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
