.register {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-blue);
}
.form-wrapper {
  background-color: var(--white);
  width: 50rem;
  height: 35rem;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #4a907f, -20px -20px 60px #64c2ab;
  display: flex;
  align-items: center;
}
.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 5rem;
  width: 100%;
}
.form input[type=submit]{
  cursor: pointer;
  background-color: var(--orange-100);
  color: var(--white);
  margin-top: 1rem;
  border: none;
  height: 3.4rem;
  border-radius: 5px;
}
.input {
  border-radius: 5px;
  width: 100%;
  border: 0.1rem solid;
  height: 3.4rem;
  margin-bottom: 0.8rem; 
}
.title{
  font-size: 2rem;
  margin-bottom: 2rem;
}
.label{
  padding-bottom: 0.5rem;
}