.register {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-blue);
}
.form-wrapper {
  background-color: var(--white);
  width: 50rem;
  height: 43rem;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #4a907f, -20px -20px 60px #64c2ab;
  display: flex;
  align-items: center;
}
.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 5rem;
  width: 100%;
}
.active {
  cursor: pointer;
  background-color: var(--orange-100);
  color: var(--white);
  margin-top: 1rem;
  border: none;
  height: 3.4rem;
  border-radius: 5px;
}
.disabled {
  cursor: pointer;
  background-color: var(--dark-gray);
  color: var(--white);
  margin-top: 1rem;
  border: none;
  height: 3.4rem;
  border-radius: 5px;
}
.input {
  border-radius: 5px;
  width: 100%;
  border: 0.1rem solid;
  height: 3.4rem;
  margin-bottom: 0.8rem;
}
.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.label {
  padding-bottom: 0.5rem;
}
.error {
  position: absolute;
  top: 0;
  height: 4rem;
  background: var(--orange-200);
  width: 98%;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  margin: 2rem 0;
  border-radius: 10px;
  padding: 2rem;
  color: var(--white);
  justify-content: center;
}
