sources:
  - name: backend-sql
    handler:
      mysql:
        host: localhost
        port: 3306
        user: root
        password: asd123
        database: walletdb
require:
  - ts-node/register/transpile-only
