* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.box1 {
  order: 1;
  background-color: turquoise;
}
.box2 {
  order: 2;
  background-color: tomato;
}
.box3 {
  order: 3;
  background-color: violet;
}
.boxItem1 {
  background-color: yellow;
}
.boxItem2 {
  background-color: wheat;
}
.boxitem3 {
  background-color: blue;
}

@media (min-width: 320px) {
  .main {
    flex-direction: column;
  }
  .box1 {
    width: 100%;
    height: 6%;
  }
  .box2 {
    width: 100%;
    height: 47%;
  }
  .box3 {
    width: 100%;
    height: 47%;
  }
  .boxItem1 {
    width: 100%;
    height: 33%;
  }
  .boxItem2 {
    width: 100%;
    height: 33%;
  }
  .boxitem3 {
    width: 100%;
    height: 33%;
  }
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }
  .box1 {
    width: 5%;
    height: 100%;
  }
  .box2 {
    width: 35%;
    height: 100%;
  }
  .box3 {
    width: 60%;
    height: 100%;
  }
}
